@import '@/styles/vars';
.wrapper {
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: auto;
  border: 1px solid $fg;
  padding: 0.5rem;
  gap: 0.5rem;
  font-size: 0.8rem;
  &:nth-child(odd) {
    border-top: none;
  }
  &:nth-child(even) {
    border-bottom: none;
  }
}

.poster {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.textContainer {
  gap: 0.7rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .wrapper {
    flex: 0 1 49%;
  }
}
